* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #832B1A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 1050px;
    background-color: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
}

.form-container {
    padding: 40px;
    width: 50%;
}

.form-container h1 {
    color: #7B2C23;
    font-size: 30px;
    margin-bottom: 15px;
}


.form-container p {
    color: #832B1A;
    margin-bottom: 20px;
}

.form-container label {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    display: block;
    color: #832B1A;
    margin-bottom: 5px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #832B1A;
    border-radius: 8px;
}

.checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #832b1a;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
  }
  
  .checkbox-container input[type="checkbox"]:checked::before {
    content: "✔";
    font-size: 14px;
    color: white;
    position: absolute;
    top: -1px;
    left: 5px;
    font-weight: bold;
  }
  
  .checkbox-container input[type="checkbox"]:checked {
    background-color: #832b1a;
    border-color: #832b1a;
  }
  
  .checkbox-container label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #832b1a;
    font-size: 14px;
    margin-bottom: 19px;
    /* cursor: pointer; */
  }

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #7B2C23;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container-input::placeholder{
    color: #832B1A;
}

.form-container button:hover {
    background-color: #5B1D1A;
}

.login-link {
    color: #7B2C23;
    text-align: center;
    margin-top: 10px;
}

.login-link a {
    color: #7B2C23;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.image-container {
    width: 50%;
    background-color: #F5DBC4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

