*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5D1517; 
    color: white;       
 }
 
 header nav ul li a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: white;
    display: inline-block;
 }
 
 a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 7px;
    width: 150%;
    text-align: center;
    font-weight: bold;
 }
 
 header nav ul {
     list-style: none;      
     display: flex;
     justify-content: flex-end;
     margin-right: 190px;
     gap: 80px;
     margin-top: 30px;
 }
 
 main {
 display: flex;
 margin-left: 190px;
 align-items: center;
 height: 80vh;
 }
         
 section {
 text-align: left;
 }
         
 img {
 max-width: 500%;
 height: auto;
 }
         
  button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: #5D1517;
  font-weight:bold; 
  width: 150px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
 }
         
 #frase{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;       
 }
 
 #img2{
     padding-top: 100px;      
 }
 
 .inputs{
   margin-left: 10px;
   width: 12px; 
   height: 12px; 
   appearance: none; 
   background-color: rgba(255, 255, 255, 0.469); 
   border-radius: 50%; 
   cursor: pointer;
   position: relative;
   left: 30px; 
 }
 
 .inputs:hover{
   background-color: white;
 }
 
 #btn{
     margin-bottom: 20px;      
 }
 
 